.tw-cursor {
  border-right: 2px solid #fff;
  display: initial;
  animation: blinkCursor 500ms steps(11) infinite normal;
}

@keyframes blinkCursor{
from{border-right-color: #fff;}
to{border-right-color: #000;}
}
.cardFront {
  /* Kartın ön yüzü için CSS */
  z-index: 1; /* Kart arkadayken ön yüzdeki etkileşimi devre dışı bırak */
}

.cardBack {
  /* Kartın arka yüzü için CSS */
  z-index: 0;/* Kart ön yüzdeyken arka yüzdeki etkileşimi aktif et */
}